<div class="ui-g">
  <div class="ui-g-12 text-right">
      <button class="close-button" (click)="close()">
          <span class="fa fa-close"></span>
      </button>
  </div>
</div>
<div class="login-wrapper">
  <div class="login-container">
    <span class="title">Login</span>
    <form (ngSubmit)="submit()">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <input id="input" type="text" size="30" pInputText name="userName" #userNameEl placeholder="User/Email"
            [(ngModel)]="userName">
        </div>
        <div class="ui-g-12">
          <input id="input" type="password" size="30" pInputText name="password" placeholder="Password"
            [(ngModel)]="password">
        </div>

        <div class="ui-g-12">
          <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
            <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
            <span class="ui-button-text ui-c">Sign In</span>
          </button>
        </div>
      </div>
    </form>

  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12 text-center login-footer">
    Developed with <span class="fa fa-heart"></span> by Nihu Technology
  </div>
</div>

<p-toast position="top-center"></p-toast>