<p-dropdown [options]="themes" [(ngModel)]="selectedTheme" placeholder="Select Theme" optionLabel="name" (onChange)="switchTheme()"></p-dropdown>
<p>Selected City: {{selectedTheme ? selectedTheme.name : 'none'}}</p>
