<!-- <div class="ui-g">
  <div class="ui-g">

  </div>
</div> -->
<p-toolbar styleClass="ui-unselectable-text">
  <h3>Items</h3>
  <p>Item list - add, modify and delete the product items.</p>
</p-toolbar>

<div class="ui-g">
  <div class="ui-g-12">

    <p-table #dt [columns]="cols" [value]="items" selectionMode="single" [(selection)]="selectedItem"
      (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="10">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>

        <tr>
          <th *ngFor="let col of columns">
            <input *ngIf="col.field != 'status'" name="filter" pInputText type="text" style="width: 100%"
              (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
            <p-dropdown *ngIf="col.field == 'status'"[options]="statuses" [style]="{'width':'100%', 'min-width': 'unset'}"
              (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
          </th>
        </tr>

      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
          <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
      </ng-template>
    </p-table>
  </div>
</div>


<p-dialog header="Itme Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
  [closable]="true" [style]="{width: '60%'}">
  <div class="ui-g ui-fluid" *ngIf="item">
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-2"><label for="code">Code</label></div>
      <div class="ui-g-10"><input pInputText id="code" [(ngModel)]="item.code" /></div>

      <div class="ui-g-2"><label for="status">Status</label></div>
      <div class="ui-g-10">
        <p-dropdown id="status" [options]="statuses" [(ngModel)]="item.status"></p-dropdown>
      </div>

      <div class="ui-g-2"><label for="name">Name</label></div>
      <div class="ui-g-10"><input pInputText id="name" [(ngModel)]="item.name" /></div>

      <div class="ui-g-2"><label for="description">Description</label></div>
      <div class="ui-g-10"><textarea pInputTextarea id="description" [(ngModel)]="item.description"></textarea></div>

      <div class="ui-g-2"><label for="unit">Unit</label></div>
      <div class="ui-g-10">
        <p-dropdown id="unit" [options]="units" [(ngModel)]="item.unit"></p-dropdown>
      </div>

      <div class="ui-g-2"><label for="hsnSac">HSN/SAC</label></div>
      <div class="ui-g-10">
        <p-dropdown id="hsnSac" [options]="hsnSacList" [(ngModel)]="item.hsnSac"></p-dropdown>
      </div>
    </div>
  </div>

  <div class="ui-g ui-fluid" *ngIf="item">
    <div class="ui-g-2"><label for="sgst">SGST</label></div>
    <div class="ui-g-4"><input pInputText id="sgst" [(ngModel)]="item.sgst" /></div>

    <div class="ui-g-2"><label for="cgst">CGST</label></div>
    <div class="ui-g-4"><input pInputText id="cgst" [(ngModel)]="item.cgst" /></div>

    <div class="ui-g-2"><label for="igst">IGST</label></div>
    <div class="ui-g-4"><input pInputText id="igst" [(ngModel)]="item.igst" /></div>

    <div class="ui-g-2"><label for="cess">CESS</label></div>
    <div class="ui-g-4"><input pInputText id="cess" [(ngModel)]="item.cess" /></div>

    <div class="ui-g-2"><label for="mrp">MRP</label></div>
    <div class="ui-g-4"><input pInputText id="mrp" [(ngModel)]="item.mrp" /></div>

    <div class="ui-g-2"><label for="rate">Rate</label></div>
    <div class="ui-g-4"><input pInputText id="rate" [(ngModel)]="item.rate" /></div>

    <div class="ui-g-2"><label for="discount">Discount</label></div>
    <div class="ui-g-4"><input pInputText id="discount" [(ngModel)]="item.discount" /></div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-times" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>