:host {
    // .container {
    //     padding: 1rem;
    // }

    footer {
        position: absolute;
        bottom: 0;
        color: #eee;
        font-family: "Segoe UI", sans-serif;
        font-size: 12px;
        background: #254053;
        width: 100%;
    }
}
