<app-title-bar></app-title-bar>
<p-menubar [model]="items" [autoDisplay]="false">
    <div>
        <button pButton label="Logout" icon="fa fa-sign-out" (click)="logout()"></button>
    </div>
</p-menubar>

<!-- <app-theme-switch></app-theme-switch> -->

<div class="container">
    <router-outlet></router-outlet>
</div>

<footer>
    <div class="ui-g ui-g-nopad">
        <div class="ui-g-12 ui-g-nopad ui-unselectable-text text-center">
            Developed by Nihu Technology Website: <a target="_blank" href="https://www.nihutechnology.com">www.nihutechnology.com</a>
        </div>
    </div>
</footer>