<div class="drag-region">
  <div class="window-title">
    <img src="assets/imgs/logo.png" alt="Nihu Technology - ">
    <span>Inventory Solution {{ title }}</span>
  </div>

  <div class="window-controls">
    <div class="button min-button" (click)="minimize()">
      <span>&#xE921;</span>
    </div>
    <div class="button restore-button" disabled>
      <span>&#xE923;</span>
    </div>
    <div class="button close-button" (click)="close()">
      <span>&#xE8BB;</span>
    </div>
  </div>
</div>