:host {
    display: block;
    height: 32px;
    padding: 4px;
    background: #254053;
    color: #fff;

    .drag-region {
        width: 100%;
        height: 100%;
        -webkit-app-region: drag;
        display: grid;
        grid-template-columns: auto 138px;

        .window-title {
            grid-column: 1;
            display: flex;
            align-items: center;
            margin-left: 8px;
            font-family: "Segoe UI", sans-serif;
            font-size: 12px;
            overflow: hidden;

            span {
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.5;
            }

            img {
                // height: 100%;
                width: 30px;
            }
        }
        
        .window-controls {
            display: grid;
            grid-template-columns: repeat(3, 46px);
            position: absolute;
            top: 0;
            right: 0;
            height: 32px;
            font-family: "Segoe MDL2 Assets";
            font-size: 10px;
            -webkit-app-region: no-drag;

            .button {
                grid-row: 1 / span 1;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                user-select: none;
                cursor: default;
                color: #BBB;

                &:hover {
                    background: rgba(255,255,255,0.2);
                    color: #FFF;
                }
            }

            .min-button {
                grid-column: 1;
            }

            .max-button, .restore-button {
                grid-column: 2;
            }

            // .restore-button {
            //     // display: none;
            // }
            
            .close-button {
                grid-column: 3;

                &:hover {
                    background: #E81123;
                }
            }


        }


        
    }

}