.nova-light {
    .ui-toolbar {
        color: #333333;
    }
}

.luna-amber {
    .ui-toolbar {
        color: #dedede;
    }
}

.luna-blue {
    .ui-toolbar {
        color: #dedede;
    }
}

.luna-green {
    .ui-toolbar {
        color: #dedede;
    }
}

.luna-pink {
    .ui-toolbar {
        color: #dedede;
    }
}