/* You can add global styles to this file, and also import other style files */
// @import './../node_modules/primeng/resources/primeng.css';
// @import './../node_modules/primeng/resources/themes/omega/theme.css';
// @import './../node_modules/primeicons/primeicons.css';
@import './styles-prime-theme.scss';

body {
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0;
}

.ui-menubar {
    border-radius: 0 !important;
    border-left: 0 !important;
    border-right: 0px !important;
    border-top: 0 !important;
}

.ui-toolbar {
    color: #fff;
    border-radius: 0 !important;
    margin-top: -1px !important;

    h3 {
        margin-top: 0.5em;
    }
}

.theme-menu-item {
    .ui-menuitem-icon {
        float: right;
        margin-top: 4px;
    }
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}
